<div class="container">
  <div class="row">
    <div class="col-12 col-xs-12 col-md-12 col-lg-12 col-sm-12">
      <h1>Search country</h1>
      <input id="country" type="text" class="form-control" [(ngModel)]="service.query" (keyup)="service.search()">
    </div>
    <div class="col-12 col-xs-12 col-md-12 col-lg-12 col-sm-12" *ngIf="service.filteredList.length > 0">
      <ul class="countries-list">
        <li *ngFor="let item of service.filteredList">
          <a (click)="service.select(item)"><img src="{{item.flag}}"/> {{item.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
