/* FONT */
$font-stack: 'Roboto', sans-serif;
$font-size: 16px;
/* COLORS */
$color_white: white;
$color_dark_gray: #2a373d;
$color_light_gray: #F1F1F1;

/* STYLE */
html, body, ul, ol {
  margin: 0;
  padding: 0;
  font-size: $font-size;
}

body {
  background: $color_white;
  color: $color_dark_gray;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: $color_dark_gray;
  font-weight: 300;
  margin: 0 0 10px 0;
}

ul.countries-list {
  list-style: none;
  margin-top: 20px;
  li {
    width: 100%;
    a {
      color: $color_dark_gray;
      margin-left: 20px;
      text-decoration: none;
    }
    &:hover {
      background-color: $color_light_gray;
      cursor: pointer;
    }
  }
}
